<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <title>@ViewBag.Title</title>
</head>
<body onload="init()">

    <header>
    </header>
    <main role="main">
        <div class="container-fluid">
            @if (ViewBag.Id != null)
            {//alta exitosa
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {//alta exitosa
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
            {//ocurrió un error
                <environment names="Development">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @ViewBag.StackTrace
                        </div>
                    </div>
                </environment>
            }
        <div>
            @if (User.IsInRole("administrador"))
            { 
                <section>
                    <div class="row">
                        <div class="col-2 siderbar-left">
                            <div class="row">
                                <div class="col-12 py-3 px-5">
                                    <div class="sidebar-header image-container">
                                        <h1 class="user-icon-size"><i class="fas fa-user-circle"></i></h1>
                                        <strong>Clara Conte</strong>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 mb-5">
                                    <nav id="sidebar">
                                        <ul class="list-unstyled components">
                                            <li>
                                                <a asp-controller="Home" asp-action="Index">
                                                    <i class="fas fa-home"></i>
                                                    Inicio
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-user-tie"></i>
                                                    Usuarios
                                                </a>
                                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                                    <li><a asp-controller="Usuarios" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Usuarios" asp-action="Create">Agregar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-address-card"></i>
                                                    Inquilinos
                                                </a>
                                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                                    <li><a asp-controller="Usuarios" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Usuarios" asp-action="Create">Agregar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#inmueblesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-building"></i>
                                                    Inmuebles
                                                </a>
                                                <ul class="collapse list-unstyled" id="inmueblesSubmenu">
                                                    <li><a asp-controller="Inmuebles" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Inmuebles" asp-action="Create">Agregar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#contratosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-book-open"></i>
                                                    Contratos
                                                </a>
                                                <ul class="collapse list-unstyled" id="contratosSubmenu">
                                                    <li><a asp-controller="Contratos" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Contratos" asp-action="CreateIndex">Alquilar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a asp-controller="Contratos" asp-action="CreateIndex">
                                                    <i class="fas fa-archive"></i>
                                                    Alquilar
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-money-check-alt"></i>
                                                    Pagos
                                                </a>
                                                <ul class="collapse list-unstyled" id="pagosSubmenu">
                                                    <li><a asp-controller="Pagos" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Pagos" asp-action="Create">Agregar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <hr />
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <i class="fas fa-life-ring"></i>
                                                    Ayuda
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 container-right">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container-fluid">

                                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                                <i class="fas fa-align-left"></i>
                                                <span>Ocultar Menú</span>
                                            </button>
                                            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                <i class="fas fa-align-justify"></i>
                                            </button>

                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="nav navbar-nav ml-auto">

                                                    <li class="nav-item">
                                                        <a class="nav-link" href="@Url.Action("Logout", "Home")">Salir <i class="fas fa-sign-out-alt"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mt-3 ml-3">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            else if (User.IsInRole("propietario"))
            {
                <section>
                    <div class="row">
                        <div class="col-2 siderbar-left">
                            <div class="row">
                                <div class="col-12 py-3 px-5">
                                    <div class="sidebar-header image-container">
                                        <h1 class="user-icon-size"><i class="fas fa-user-circle"></i></h1>
                                        <strong>Nombre Propietario</strong>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 mb-5">
                                    <nav id="sidebar">
                                        <ul class="list-unstyled components">
                                            <li>
                                                <a asp-controller="PropietarioAdmin" asp-action="Index">
                                                    <i class="fas fa-home"></i>
                                                    Inicio
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-user-tie"></i>
                                                    Mi cuenta
                                                </a>
                                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                                    <li><a asp-controller="Usuarios" asp-action="Index">Editar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-address-card"></i>
                                                    Inquilinos
                                                </a>
                                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                                    <li><a asp-controller="Inquilinos" asp-action="Index">Listar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#inmueblesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-building"></i>
                                                    Inmuebles
                                                </a>
                                                <ul class="collapse list-unstyled" id="inmueblesSubmenu">
                                                    <li><a asp-controller="Inmuebles" asp-action="Index">Listar</a></li>
                                                    <li><a asp-controller="Inmuebles" asp-action="Create">Agregar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#contratosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-book-open"></i>
                                                    Contratos
                                                </a>
                                                <ul class="collapse list-unstyled" id="contratosSubmenu">
                                                    <li><a asp-controller="Contratos" asp-action="Index">Listar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                    <i class="fas fa-money-check-alt"></i>
                                                    Pagos
                                                </a>
                                                <ul class="collapse list-unstyled" id="pagosSubmenu">
                                                    <li><a asp-controller="Pagos" asp-action="Index">Listar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <hr />
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <i class="fas fa-life-ring"></i>
                                                    Ayuda
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 container-right">
                            <div class="row">
                                <div class="col-12">
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container-fluid">

                                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                                <i class="fas fa-align-left"></i>
                                                <span>Ocultar Menú</span>
                                            </button>
                                            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                <i class="fas fa-align-justify"></i>
                                            </button>

                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="nav navbar-nav ml-auto">

                                                    <li class="nav-item">
                                                        <a class="nav-link" href="@Url.Action("Logout", "Home")">Salir <i class="fas fa-sign-out-alt"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mt-3 ml-3">
                                    @RenderBody()
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            else
            {
                @RenderBody()
            }
        </div>
        </div>
    </main>
    <footer class="footer fixed-bottom">
        <div class="row mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 align-self-center">
                <p class="text-center footer-text-color">&copy; @DateTime.Today.Year Inmobiliaria, Inc. &middot; <a href="#" class="footer-text-color">Privacy</a></p>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", false)
    @await Html.PartialAsync("_ScriptsPartial")
    <script type="text/javascript">
        function init() {
            $('.alert').alert();
        }
    </script>
</body>
</html>